.presentation-section {
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--skin-color);
}
.img-section {
  margin-top: 30px;
  max-width: 200px;
  max-height: 200px;
  background-color: var(--bg-black-50);
  border-radius: 50%;
}
.img-section img {
  border-radius: 50%;
}
.text-section {
  text-align: center;
  margin-top: 15px;
  flex: 0 0 95%;
  max-width: 95%;
  max-height: 150px;
}
.text-section-light {
  text-align: center;
  color: var(--text-black-900);
  font-weight: 700;
  margin-bottom: 10px;
}
.text-section-light a {
  color: var(--bg-black-900);
  text-decoration: underline;
  font-weight: 800;
}
.two-first-section {
  display: flex;
  flex-direction: row;
}
.Portfolio {
  max-width: 67vh;
  background-color: var(--bg-black);
  border-bottom: 3px solid var(--skin-color);
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.text-section-skin {
  color: var(--skin-color);
  width: 95%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.text-section-skin a {
  color: var(--skin-color);
  font-weight: 600;
  text-decoration: underline;
}
.content-portfolio-section {
  max-width: 100%;
}
.portfolio-job {
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border: 0;
  flex: 0 0 55%;
  max-width: 55%;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid var(--skin-color);
}
.portfolio-job.seg {
  margin-top: 25px;
}
.link-social-section a i {
  color: var(--bg-black);
  font-size: 24px;
  margin: 0 15px;
}
.link-social-section a i:hover {
  color: var(--bg-black-900);
  border: var(--bg-black-900);
}
.contact-section-recruiter .link-social-section a i {
  margin-top: 20px;
  color: var(--skin-color);
}
@media (max-width: 390px) {
  .link-social-section a i {
    margin: 0 8px;
  }
}
.portfolio-buttons {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1300px) {
  .portfolio-buttons {
    flex-direction: column;
  }
}
.portfolio-buttons a:nth-child(1) {
  background-color: var(--skin-color);
  color: var(--bg-black-900);
}
@media (max-width: 1300px) {
  .portfolio-buttons a {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.portfolio-buttons a {
  text-align: center;
  flex: 0 0 50%;
  padding: 5px 0;
  margin: 0;
  font-size: 14;
  font-weight: 500;
}
.portfolio-buttons a:nth-child(2) {
  background-color: var(--skin-color-80);
  color: var(--bg-black-900);
}
.skills-section {
  height: 100%;
  background-color: var(--bg-black);
  padding-top: 15px;
}
.text-section-skin.skills {
  margin-top: 0;
  font-weight: 800;
}
.skill-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skill {
  color: var(--skin-color);
  padding: 5px;
  border: 3px solid var(--skin-color);
  font-weight: 700;
  margin: 10px 10px;
}
@media (max-width: 1050px) {
  .presentation-section {
    width: 100vw;
    height: 100%;
  }
  .two-first-section {
    flex-direction: column;
  }
  .Portfolio {
    width: 100vw;
    max-width: 100vw;
  }
  .portfolio-box {
    flex-direction: row;
    justify-content: space-around;
  }
  .portfolio-job {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .portfolio-job.seg {
    margin-top: 0;
  }
}
@media (max-width: 685px) {
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-job {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .text-section-light {
    margin: auto;
    width: 90%;
    margin-bottom: 25px;
  }
  .text-section-skin {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .text-section {
    margin: auto;
    width: 90%;
    max-height: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .text-section-skin.skills {
    width: 90%;
    margin: 0;
    margin-bottom: 30px;
  }
  .skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skill-container {
    margin: 0;
  }
}
@media (max-width: 472px) {
  .portfolio-box {
    flex-direction: column;
    justify-content: center;
  }
  .portfolio-job {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .portfolio-job.seg {
    margin-top: 25px;
  }
}
@media (max-width: 435px) {
  .text-section {
    width: 85%;
  }
  .text-section-skin {
    width: 85%;
  }
}
.p-footer {
  padding: 20px 20px 10px 20px;
  background-color: var(--bg-black);
  text-align: center;
  color: var(--text-black-900);
}
.p-footer span {
  color: var(--skin-color);
  font-weight: 800;
}
.p-footer a {
  color: var(--skin-color);
  font-weight: 800;
  text-decoration: underline;
}
